@{
    ViewData["Title"] = "Contact";
}


<!-- breadcrumbs -->
<div class="breadcrumb_about">
    <div class="container">
        <ul>
            <li><a href="/"><span class="fa fa-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
            <li>Contact</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->
<!--c-grid1 -->
<div class="map">
    <h2>Locate US </h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2482.432383990807!2d0.028213999961443994!3d51.52362882484525!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1423469959819" style="border:0"></iframe>
    <div class="container">

        <div class="c-add-background">
            <div class="c-address">
                <h4>Address</h4>
                <ul>
                    <li>Newyork Still Road.</li>
                    <li>756 gt globel Place,</li>
                    <li>CD-Road,M 07 435</li>
                    <li>Telephone: +49 99 123456789</li>
                    <li>E-mail:<a href="mailto:info@example.com">mail@example.com</a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!--//c-grid1-->
<!--e-grid2-->
<div class="c-grid2-agileinfo">
    <div class="container">
        <div class="c-grid2-padding">
            <h2>Contact Us </h2>

            <div class="col-md-7 contact-grid">
                <form action="#" method="post">
                    <div class="col-md-6 contact-grid-left">

                        <input type="text" name="Name" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                        <input type="text" name="Phone" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}" required="">

                    </div>
                    <div class="col-md-6 contact-grid-left">

                        <input type="email" name="Email" placeholder="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                        <input type="text" name="Subject" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}" required="">

                    </div>
                    <div class="clearfix"> </div>

                    <textarea onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
                    <input type="submit" value="Submit Now">
                </form>
            </div>

            <div class="col-md-5 h-about-add1">
                <div class="slider">
                    <div class="wrap">
                        <ul class="rslides" id="slider1">

                            <li>
                                <div class="col-md-5 add-img-a">
                                    <img src="~/assets/images/add-img4.png" alt="" class="img-responsive">
                                </div>
                                <div class="col-md-7 add-info">
                                    <h4> Model - 1256 </h4>
                                    <h6> <label>$ </label> 254 </h6>
                                    <p>Silver beet shallot wakame tomatillo salsify mung bean beetroot groundnut.</p>
                                </div> <!-- info end -->
                                <div class="clearfix">	</div>
                            </li>

                            <li>
                                <div class="add-img-b">
                                    <img src="~/assets/images/add-img1.png" alt="" class="img-responsive">
                                </div>
                            </li>

                            <li>
                                <div class="col-md-5 add-img-a">
                                    <img src="~/assets/images/add-img5.png" alt="" class="img-responsive">
                                </div>
                                <div class="col-md-7 add-info">
                                    <h4> Model - 1256 </h4>
                                    <h6> <label>$ </label> 254 </h6>
                                    <p>Silver beet shallot wakame tomatillo salsify mung bean beetroot groundnut.</p>
                                </div> <!-- info end -->
                                <div class="clearfix">	</div>
                            </li>

                            <li>
                                <div class="add-img-b">
                                    <img src="~/assets/images/add-img2.png" alt="" class="img-responsive">
                                </div>
                            </li>
                            <li>
                                <div class="col-md-5 add-img-a">
                                    <img src="~/assets/images/add-img6.png" alt="" class="img-responsive">
                                </div>
                                <div class="col-md-7 add-info">
                                    <h4> Model - 1256 </h4>
                                    <h6> <label>$ </label> 254 </h6>
                                    <p>Silver beet shallot wakame tomatillo salsify mung bean beetroot groundnut.</p>
                                </div> <!-- info end -->
                                <div class="clearfix">	</div>
                            </li>

                            <li>
                                <div class="add-img-b">
                                    <img src="~/assets/images/add-img3.png" alt="" class="img-responsive">
                                </div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div> <!-- Wrap End -->
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--//e-grid2-->
