
@{
    ViewData["Title"] = "Dining";

}




<!-- breadcrumbs -->
<div class="breadcrumb_about">
    <div class="container">
        <ul>
            <li><a href="/"><span class="fa fa-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
            <li>Dining</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->
<!--d-grid1-->
<div class="d-grid1">
    <div class="container">
        <div class="d-grid1-padding-agileits">
            <h2>Heading</h2>

            <div class="d-grid1-a">
                <div class="col-md-4 d-g1-text">
                    <div class="d-g1-text-a">
                        <h2>Traditional Food</h2>
                        <p>
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugi ipsam voluptatem quia voluptas sit.
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugi ipsam voluptatem quia voluptas sit.
                            Nemo enim ipsam voluptatem quia voluptas sit odit aut fugi ipsam voluptatem quia voluptas sit.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 d-g1-img">
                    <div class="slider">
                        <div class="wrap">
                            <ul class="rslides" id="slider1">

                                <li>
                                    <img src="~/assets/images/d7.jpg" class="img-responsive img-1 d-img" alt="">
                                    <img src="~/assets/images/d1.jpg" class="img-responsive d-img" alt="">
                                    <div class="clearfix"> </div>
                                </li>
                                <li>
                                    <img src="~/assets/images/d6.jpg" class="img-responsive img-1 d-img" alt="">
                                    <img src="~/assets/images/d2.jpg" class="img-responsive d-img" alt="">
                                </li>
                                <li>
                                    <img src="~/assets/images/d5.jpg" class="img-responsive img-1 d-img" alt="">
                                    <img src="~/assets/images/d3.jpg" class="img-responsive d-img" alt="">
                                </li>
                                <li>
                                    <img src="~/assets/images/d4.jpg" class="img-responsive img-1 d-img" alt="">
                                    <img src="~/assets/images/d7.jpg" class="img-responsive d-img" alt="">
                                </li>
                                <li>
                                    <img src="~/assets/images/d2.jpg" class="img-responsive img-1 d-img" alt="">
                                    <img src="~/assets/images/d7.jpg" class="img-responsive d-img" alt="">
                                </li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                <div class="col-md-4 d-g1-text">
                    <div class="d-g1-text-b">

                        <div class="d-g1-icon">
                            <div class="col-xs-3 d-grid1-icon">
                                <i class="d-icon1"></i>
                            </div>
                            <div class="col-xs-9 d-grid1-text-a">
                                <p>Sunt in culpa qui officia deserunt mollit.Duis aute irure dolor velit esse cillum aute irure dolor velit dolore eu fugiat nulla pariatur.</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>

                        <div class="d-g1-icon">
                            <div class="col-xs-3 d-grid1-icon">
                                <i class="d-icon2"></i>
                            </div>
                            <div class="col-xs-9 d-grid1-text-a">
                                <p>Sunt in culpa qui officia aute irure dolor velit deserunt mollit.Duis aute irure dolor velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>

                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<!--//d-grid1-->
<!--d-grid2-->
<div class="d-grid2">
    <div class="container">
        <div class="d-grid2-main-w3ls">
            <div class="d-grid2-text">

                <h3>Heading -1</h3>
                <p>
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugi ipsam voluptatem quia voluptas sit.
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugi ipsam voluptatem quia voluptas sit.
                </p>
                <div class="d-grid2-text-1">
                    <h6>Heading Offer</h6>
                    <h3>Taste</h3>
                    <h3>The Burger</h3>
                    <h4>Special Menu</h4>
                    <marquee scrolldelay="250" behavior="scroll" direction="up" onmousedown="this.stop();" onmouseup="this.start();">
                        <p>Menu Item - Name 1</p>
                        <p>Menu Item - Name 2</p>
                        <p>Menu Item - Name 3</p>
                        <p>Menu Item - Name 4</p>
                        <p>Menu Item - Name 5</p>
                        <p>Menu Item - Name 6</p>
                        <p>Menu Item - Name 7</p>
                        <p>Menu Item - Name 8</p>
                        <p>Menu Item - Name 9</p>
                    </marquee>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//d-grid2-->
<!-- d-grid3-->
<div class="d-grid3">
    <div class="container">
        <div class="d-grid3-padding">
            <div class="d-grid3-content">
                <section class="slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <div class="people-one">
                                    <div class="p-btm">
                                        <img src="~/assets/images/d2.jpg" alt="" />
                                        <div class="p1">
                                            <h4>Nullam posuere convallis nibh</h4>
                                            <h6>Tomson</h6>
                                        </div>
                                    </div>
                                    <p>Curabitur sollicitudin libero orci, eget iaculis quam fringilla vitae. Donec tempor lacinia felis eget pulvinar. Vestibulum ut consequat eros, in placerat turpis. Nam feugiat augue eget laoreet malesuada. Aliquam vel justo hendrerit, accumsan odio id, commodo mi.</p>
                                </div>
                            </li>
                            <li>
                                <div class="people-one">
                                    <div class="p-btm">
                                        <img src="~/assets/images/d6.jpg" alt="" />
                                        <div class="p1">
                                            <h4>Nullam posuere convallis nibh</h4>
                                            <h6>Tomson</h6>
                                        </div>
                                    </div>
                                    <p>Curabitur sollicitudin libero orci, eget iaculis quam fringilla vitae. Donec tempor lacinia felis eget pulvinar. Vestibulum ut consequat eros, in placerat turpis. Nam feugiat augue eget laoreet malesuada. Aliquam vel justo hendrerit, accumsan odio id, commodo mi.</p>
                                </div>
                            </li>
                            <li>
                                <div class="people-one">
                                    <div class="p-btm">
                                        <img src="~/assets/images/d7.jpg" alt="" />
                                        <div class="p1">
                                            <h4>Nullam posuere convallis nibh</h4>
                                            <h6>Tomson</h6>
                                        </div>
                                    </div>
                                    <p>Curabitur sollicitudin libero orci, eget iaculis quam fringilla vitae. Donec tempor lacinia felis eget pulvinar. Vestibulum ut consequat eros, in placerat turpis. Nam feugiat augue eget laoreet malesuada. Aliquam vel justo hendrerit, accumsan odio id, commodo mi.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!--people-end-->
<!--FlexSlider-->
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<script defer src="js/jquery.flexslider.js"></script>
<script type="text/javascript">
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
</script>
<!--End-slider-script-->
<!--//d-grid3-->
<!--d-grid4-->
<div class="d-grid4">
    <div class="container">
        <div class="d-grid4-main">
            <div class="d-grid2-text">

                <h3>Heading -1</h3>
                <p>
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugi ipsam voluptatem quia voluptas sit.
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugi ipsam voluptatem quia voluptas sit.
                </p>
                <div class="d-grid2-text-1">
                    <h6>Heading Offer</h6>
                    <h3>Taste</h3>
                    <h3>The Pizza</h3>
                    <h4>Special Menu</h4>
                    <marquee scrolldelay="250" behavior="scroll" direction="up" width="75%" height="200px" onmousedown="this.stop();" onmouseup="this.start();">
                        <p>Menu Item - Name 1</p>
                        <p>Menu Item - Name 2</p>
                        <p>Menu Item - Name 3</p>
                        <p>Menu Item - Name 4</p>
                        <p>Menu Item - Name 5</p>
                        <p>Menu Item - Name 6</p>
                        <p>Menu Item - Name 7</p>
                        <p>Menu Item - Name 8</p>
                        <p>Menu Item - Name 9</p>
                    </marquee>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//d-grid4-->
